* {
    margin: 0;
    padding: 0;
}

.container-fluid, [class ^= "col-"], .row {
    padding: 0;
}

.row {
    margin: 0;
}

header {
    background-color: #286066;
    color: white;
    position: relative;
}

.logo {
    padding: 15px;
    margin: 15px;
    width: 75%;
    max-width: 351px;
}

.menu-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    font-size: 2em;
    border: none;
    background-color: transparent;
}

.number-row {
    border-top: 1px solid #aaa;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menu-button:focus ~ nav {
    transform: translateX(0);
}

.active-link {
    background-color: #ED9C49;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    background-color: #CF8B46;
    z-index: 999;
    overflow-y: auto;
    padding-bottom: 50px;
    transform: translateX(-100%);
    transition: transform 500ms;
}

nav > div {
    background-color: #CF8B46;
}

nav img {
    display: block;
    margin: auto;
    padding: 15px;
}

nav a {
    color: white;
    padding: 12px;
}

nav a:hover {
    text-decoration: none;
    color: white;
    background-color: #ED9C49;
}

nav a:focus {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li {
    padding: 10px 0;
}

.tail {
    background-color: #ED9C49;
    color: white;
    padding: 5px;
}

.btn-icom {
    background-color: #ED9C49;
    color: white;
}

form {
    padding: 15px;
    margin-top: 120px;
}

label {
    padding: 5px;
}

.errors {
    width: 75%;
    margin: 15px auto;
}

input[type="radio"] {
    margin: 5px;
}

.gender {
    margin: 0 20px;
}

sup {
    color: red;
}

div[ng-view]{
    padding-top: 5%;
}

.logo-holder {
    text-align: right;
}

.select-organizer {
    float: left;
    width: 45%;
    margin: 1.5%;
}

strong {
    margin: 1.5%;
}

.from-to {
    display: block;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 999;
    display: none;
}

.grade-sheet {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    box-shadow: 0 0 5px gray;
    padding: 35px;
    max-width: 720px;
    box-sizing: border-box;
}

#grading-table {
    margin: 15px 0;
}

textarea {
    resize: vertical;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .select-organizer {
        width: 100%;
    }
}

@media (min-width: 480px){
    .menu-button {
        width: 9%;
    }
}

@media screen and (min-width: 480px) and (max-width: 680px){
    nav {
        width: 40%;
    }
}

@media (min-width: 680px){
    nav {
        width: 30%;
    }
    
    .grade-sheet {
        width: 85%;
        margin: 25px auto;
    }
}

@media screen and (min-width: 760px){

    main {
        background-color: white!important;
        border-radius: 10px;
        padding-bottom: 100px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    
    body {
        background-color: #286066;
        padding: 5%;
        padding-top: 0;
    }
    
    nav {
        width: 25%;
    }
    
    .grade-sheet {
        width: 75%;
    }
    
}

@media screen and (min-width: 994px){
    nav {
        position: static;
        display: block;
        width: 100%;
        z-index: 1;
        height: auto;
        transform: none;
        padding-bottom: 0;
    }
    
    nav > div {
        display: none;
    }
    
    nav ul {
        text-align: center;
    }
    
    nav li {
        display: inline-block;
    }
    .menu-button {
        display: none;
    }
    
    .logo-holder {
        text-align: left;
    }
    .grade-sheet {
        width: 50%;
    }
}
