.container-fluid, [class ^= "col-"], .row {
    padding: 0;
}

.row {
    margin: 0;
}

.menu-button {
    position: absolute;
    width: 15%;
    height: 100%;
    font-size: 2em;
    border: none;
    background-color: transparent;
}

.navbar {
    background-color: #286066;
    color: white;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: #EDA051;
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 500ms;
}

nav > div {
    background-color: #CF8B46;
}

nav img {
    display: block;
    margin: auto;
    padding: 15px;
}

nav a {
    color: white;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 10px 0;
}

.menu-button:focus ~ nav {
    transform: translateX(0);
}

.active {
    background-color: #FFAC57
}

.logo {
    padding: 5px;
}

.tail {
    background-color: #ED9C49;
    color: white;
    padding: 1px;
}

.tail h1 {
    font-size: 1.5em;
    text-align: center;
}

.btn-icom {
    background-color: #ED9C49;
    color: white;
}

form {
    padding: 15px;
    margin-top: 120px;
}

label {
    padding: 5px;
}

input {
    margin: 5px;
}

.heading {
    display: none;
}

.errors {
    width: 75%;
    margin: 15px auto;
}

.fields {
    padding: 15px;
    margin: 5px auto;
    background-color: rgba(0,0,0,.1);
}

.tag:before {
    content: "#";
}

.tag {
    display: inline-block;
    color: white;
    background-color: #286066;
    border-radius: 5px;
    padding: 5px;
    margin: 2px 1px;
    cursor: pointer;
}

input[type="radio"] {
    margin: 5px;
}

.gender {
    margin: 0 20px;
}

sup {
    color: red;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
}

@media screen and (min-width: 480px) and (max-width: 780px){
    nav {
        width: 40%;
    }
}

@media screen and (min-width: 780px){

    main {
        margin: 5%;
        background-color: white!important;
        border-radius: 10px;
        padding-bottom: 100px;
    }
    
    .tail {
        border-radius: 10px;
    }
    
    body {
        background-color: #286066;
    }
    
    nav {
        width: 30%;
    }
    
    .menu-button {
        width: 5%;
    }
}

@media screen and (min-width: 994px){
    nav {
        position: static;
        display: block;
        width: 100%;
        z-index: 1;
        height: auto;
        transform: none;
        padding: 1px;
    }
    
    nav > div {
        display: none;
    }
    
    nav ul {
        text-align: center;
    }
    
    nav li {
        display: inline-block;
        margin: 0 5px;
    }
    .menu-button {
        display: none;
    }
}

