<div class="modal fade" id="notify">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Notification</h4>
            </div>
            <div class="modal-body text-center">
                <span><strong>{{view_data.success_msg}}</strong></span>
            </div>
            <div class="modal-footer text-right">
                <button class="btn btn-icom" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <form style="margin-top: 0;" ng-submit="create_new_user()">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" ng-model="the_user.name" class="form-control" required placeholder="Username">
            </div>
            <div class="form-group">
                <label class="control-label">E-mail</label>
                <input type="email" ng-model="the_user.email" class="form-control" placeholder="User E-mail">
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" ng-model="the_user.password" class="form-control" placeholder="User Password" required>
            </div>
            <div class="form-group">
                <label class="control-label">Role</label>
                <div>
                    <input type="radio" name="the_role" ng-model="the_user.role" value="department" required>Department
                    <input type="radio" name="the_role" ng-model="the_user.role" value="operations" required>Operations
                </div>
            </div>
            <div class="form-group text-right">
                <input type="submit" class="btn btn-icom" ng-disabled="view_data.processing_request"><img src="/icons/loading.gif" alt="Loading Image" ng-hide="!view_data.processing_request">
            </div>
        </form>
    </div>
</div>