<div class="tail">
    <h1>Add Organizer</h1>
</div>


<div class="row">
    
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        
        <h4 style="padding: 10px;">All fields with <sup>*</sup> are required fields.</h4>
        
        <form ng-submit="createOrganizer()" style="margin-top: 0;">
            
            <div class="from-group"><label class="control-label">Name <sup>*</sup></label><input type="text" class="form-control" ng-model="newUser.name" required></div>
            <div class="from-group"><label class="control-label">E-mail <sup>*</sup></label><input type="email" class="form-control" ng-model="newUser.email" required></div>
            <div class="from-group"><label class="control-label">Date Of Birth</label><input type="date" class="form-control" ng-model="newUser.dob"></div>
            <div class="from-group"><label class="control-label">Address</label><input type="text" class="form-control" ng-model="newUser.address"></div>
            <div class="from-group"><label class="control-label">Cell Phone <sup>*</sup></label><input type="tel" class="form-control" ng-model="newUser.cell_phone" required></div>
            <div class="from-group"><label class="control-label">College</label><input type="text" class="form-control" ng-model="newUser.college"></div>
            <div class="from-group"><label class="control-label">Gender <sup>*</sup></label><div class="text-center"><span class="gender"><input type="radio" name="gender" value="0" ng-model="newUser.gender" required>Male</span> <span class="gender"><input type="radio" name="gender" value="1" ng-model="newUser.gender" required>Female</span></div></div>
            <div class="from-group"><label class="control-label">ID Number</label><input type="text" class="form-control" ng-model="newUser.id_number"></div>
            <div class="from-group">
                <label class="control-label">Working Fields <sup>*</sup></label>
                <select name="fields" id="workingFields" class="form-control" ng-model="tempField" ng-change="Selector.select(tempField)">

                    <option ng-repeat="field in fields" value="{{field.id}}">{{field.name}}</option>
                    
                </select>
                
                <div class="fields text-center">
                    <div ng-hide="Selector.selection">No Fields Are Choosen</div>
                    <span class="tag" ng-repeat="tag in Selector.names" ng-click="Selector.deselect(tag)">{{tag}}</span>
                    
                </div>
                
            </div>
            <div class="from-group"><label class="control-label">Language</label><input type="text" class="form-control" ng-model="newUser.language"></div>
            <div class="from-group"><label class="control-label">Agreement</label><input type="file" class="form-control" name="agreement" id="agreement"></div>
            <div class="form-group text-right"><input type="submit" class="btn btn-icom" ng-disabled="Selector.IDS.length == 0"></div>
            
        </form>
        
    </div>
    
</div>