<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
       <form class="form-horizontal" style="margin-top: 0;margin-bottom: 35px;">
            <div class="form-group">
               <div class="col-sm-4 col-sm-offset-2">
                    <label class="control-label col-sm-4">From</label>
                    <div class="col-sm-8">
                        <input type="text" name="start" ng-model="task.start" class="form-control" placeholder="Starting Date">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="control-label col-sm-4">To</label>
                    <div class="col-sm-8">
                        <input type="text" name="end" ng-model="task.end" class="form-control" placeholder="Ending Date">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Choose Conference</label>
                <div class="col-sm-10">
                    <select name="conference" id="conferenceSelect" class="form-control">
                        <option value="0">Cardio 1</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Choose Department</label>
                <div class="col-sm-10">
                    <select name="department" id="departmentSelect" class="form-control">
                        <option value="0">Dept. 1</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><u>Choose Organizers</u></label>
                <div class="col-sm-10">
                     <div ng-repeat="org in organizers" class="select-organizer">
                         <input type="checkbox" data-id="{{org.id}}" ng-click="append($event)"><label>{{org.name}}</label>
                     </div>
                </div>
            </div>
           <div class="form-group text-right">
               <input type="submit" class="btn btn-icom" value="Send E-mails">
           </div>
        </form>
    </div>
</div>

