<div class="row">
    
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        
        <datalist id="organizers">
            
            <option ng-repeat="org in view_data.orgs" value="{{org.name}} <{{org.email}}>">
            
        </datalist>
        <div class="form-group">
            <label>Search for organizer</label>
            <input type="text" list="organizers" class="form-control" ng-model="which" placeholder="Organizer Name">
        </div>
        <div class="form-group text-center">
            <a href="#/edit_organizer/{{which.split('').slice(which.split('').lastIndexOf('<')+1 , which.split('').lastIndexOf('>')).join('')}}" class="btn btn-icom">Edit</a>
            <button type="button" class="btn btn-danger" id="delete" data-uni="{{which.split('').slice(which.split('').lastIndexOf('<')+1 , which.split('').lastIndexOf('>')).join('')}}" ng-click="delete($event)">Delete</button>
        </div>
        <p class="text-center del-msg text-danger" style="display: none;"><strong>Account has been deleted!</strong></p>
        
    </div>
    
</div>